<table>
  <tbody>
    <tr>
      <th>Sample Settings 1</th>
      <td><input type="text" id="settings_sample1" placeholder="setting value 1"
                 value="<%= settings['sample1'] %>"
           name="settings[sample1]" >
    </tr>
    <tr>
      <th>Sample Settings 2</th>
      <td><input type="text" id="settings_sample2" placeholder="setting value 2"
                 value="<%= settings['sample2'] %>"
           name="settings[sample2]" >
    </tr>
    <tr>
      <th>Sample Settings 3</th>
      <td><input type="text" id="settings_sample3" placeholder="setting value 3"
                 value="<%= settings['sample3'] %>"
           name="settings[sample3]" >
    </tr>
   </tbody>
</table>
